.vs/
.vscode/
.idea/**
!.idea/.idea.BrilliantMessaging/
!.idea/.idea.BrilliantMessaging/.idea/
!.idea/.idea.BrilliantMessaging/.idea/indexLayout.xml
bin/
obj/
*.suo
*.user
/tmp/
/BrilliantMessaging.snk
/artifacts/
